$BackgroundBlue: #F5F9FE;
$Blue: #00A0EC;
$Grey: #AFB6C6;
$White: #ffffff;
$Blue10: #EEF7FC;
$Black: #1E212A;
$Black80: #1E212A;
$BlueDark: #0683DD;
$Blue10: #EEF7FC;
$GreyLight: #EEF0F6;
$Blue40: #00A0EC;